body {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #ded6d6;
}
.navbar {
  width: 100%vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 6px 6px 5px gray;
  padding: 5px 20px;
  margin-bottom: 1.5rem;
  background-color: #eef0f2;
  border-radius: 20px;
}
.logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.logoImg {
  height: 100%;
  width: 100%;
}
.navList {
  width: 30%;
  height: auto;
  display: flex;
  gap: 2rem;
  align-items: center;

}
a {
  color: gray;
  text-decoration: none;
  transition: transform 0.4s ease;
  font-size: 1.2rem;
}
a:hover {
  transform: scale(1.2);
  color: rgb(88, 88, 88);
}
.search{
  display: flex;
  width: auto;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
.searchBar {
  padding: 5px 20px;
  width: 30rem;
  height: 80%;
  font-size: 1.2rem;
  border: 0;
  outline: none;
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.searchBtn {
  background-color: #ffc857;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.searchBtn:hover,
.searchBar:hover {
  transform: scale(1.05);
}
.slider {
  background: #000;
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 2rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.slide{
  position: absolute;
  width: 100%;
  height: 500px;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  
}

.slide img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  fill: cover;
}
img.displaySlide {
  display: block;
}
.btn{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
   
}
.prev, .next {
  margin: 0 20px;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  background-color: #ffc857;
  border-radius: 10px;
  font-size: 1.2rem;
}
.card-container {
  margin: 2rem 2.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card{
  width: 250px;
  height: 350px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}
.shimmerCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 2.3rem;
  justify-content: center;
}
.shimmer-card {
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}
.loginBtn{
  background-color: #ffc857;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 0px 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 45px;
  margin: 10px;
}
.filterbtn {
  background-color: #ffc857;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}